body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #0066CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    padding: 10px 15px;
}


/* Hide the up and down arrows in number input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Styling for the person image */
.person-image {
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
}

/* Styling for the person's bio */
.person-bio {
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
}
