{% extends 'base.html' %}

{% block content %}
<div class="modal">
    <h1>Is this the correct movie?</h1>
    <img src="{{ movie['Poster'] }}" alt="Movie Poster" class="movie-poster">
    <p><strong>Title:</strong> {{ movie['Title'] }}</p>
    <p><strong>Year:</strong> {{ movie['Year'] }}</p>
    <p><strong>Genre:</strong> {{ movie['Genre'] }}</p>
    <p><strong>Plot:</strong> {{ movie['Plot'] }}</p>

    <form action="{{ url_for('confirm_movie') }}" method="POST">
        <input type="hidden" name="title" value="{{ movie['Title'] }}">
        <input type="hidden" name="year" value="{{ movie['Year'] }}">
        <input type="hidden" name="genre" value="{{ movie['Genre'] }}">
        <input type="hidden" name="rated" value="{{ movie['Rated'] }}">
        <input type="hidden" name="released" value="{{ movie['Released'] }}">
        <input type="hidden" name="runtime" value="{{ movie['Runtime'] }}">
        <input type="hidden" name="plot" value="{{ movie['Plot'] }}">
        <input type="hidden" name="language" value="{{ movie['Language'] }}">
        <input type="hidden" name="country" value="{{ movie['Country'] }}">
        <input type="hidden" name="awards" value="{{ movie['Awards'] }}">
        <input type="hidden" name="poster" value="{{ movie['Poster'] }}">
        <input type="hidden" name="imdbRating" value="{{ movie['imdbRating'] }}">
        <input type="hidden" name="imdbVotes" value="{{ movie['imdbVotes'] }}">
        <input type="hidden" name="imdbID" value="{{ movie['imdbID'] }}">
        <input type="hidden" name="type" value="{{ movie['Type'] }}">
        <input type="hidden" name="totalSeasons" value="{{ movie.get('totalSeasons', '') }}">
        <input type="hidden" name="user_rating" value="{{ request.form.get('user_rating', '') }}">

        <button type="submit" name="confirm" value="Yes">Yes</button>
        <button type="submit" name="confirm" value="No">No</button>
    </form>
</div>
{% endblock %}
